html,
body {
    margin: 0;
    padding: 0;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    color: inherit;
    -webkit-appearance: none;
    /*-moz-appearance: none;*/
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #eaeaea url('bg.png');
    color: #4d4d4d;
    width: 650px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}


#twitterapp {
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    margin: 130px 0 40px 0;
    border: 1px solid #ccc;
    position: relative;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
                0 25px 50px 0 rgba(0, 0, 0, 0.15);
}


#twitterapp input::-webkit-input-placeholder {
    font-style: italic;
}

#twitterapp input:-moz-placeholder {
    font-style: italic;
    color: #a9a9a9;
}

#twitterapp h1 {
    position: absolute;
    top: -120px;
    width: 100%;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    color: #b3b3b3;
    color: rgba(255, 255, 255, 0.3);
    text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

#header {
    padding-top: 35px;
    border-radius: inherit;
}

#header:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 35px;
    z-index: 2;
    border-bottom: 1px solid #4099FF;
    background: #8d7d77;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(64, 153, 255, 0.8)),to(rgba(54, 113, 249, 0.8)));
    background: -webkit-linear-gradient(top, rgba(64, 153, 255, 0.8), rgba(54, 113, 249, 0.8));
    background: -moz-linear-gradient(top, rgba(64, 153, 255, 0.8), rgba(54, 113, 249, 0.8));
    background: -o-linear-gradient(top, rgba(64, 153, 255, 0.8), rgba(54, 113, 249, 0.8));
    background: -ms-linear-gradient(top, rgba(64, 153, 255, 0.8), rgba(54, 113, 249, 0.8));
    background: linear-gradient(top, rgba(64, 153, 255, 0.8), rgba(54, 113, 249, 0.8));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#9d8b83', EndColorStr='#847670');
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}


#menu-header {
    color: #000;
    padding-left: 5px;
    margin-top: -25px;
    position: absolute;
    right: 0;
    top: 31px;
    left: 0;
    height: 20px;
    z-index: 3;
    text-align: center;
}

/*#menu-header:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 31px;
    left: 0;
    height: 50px;
    z-index: -1;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),
                0 6px 0 -3px rgba(255, 255, 255, 0.8),
                0 7px 1px -3px rgba(0, 0, 0, 0.3),
                0 43px 0 -6px rgba(255, 255, 255, 0.8),
                0 44px 2px -6px rgba(0, 0, 0, 0.2);
}*/

#main {
    position: relative;
    z-index: 2;
    border-top: 1px dotted #adadad;
    width: 650px;
}

#chat {
    position: absolute;
    margin-left: 650px;
    margin-top: 35px;
    padding: 10px;
    z-index: 2;
    border-top: 1px dotted #adadad;
    width: 300px;
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
                0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

#chat-form {
    padding-top: 10px;
    margin-bottom: 0px;
}

#chat-form .input-small {
    width: 75%;
}
#chat-form #chat-send {
    width: 18%;
}

.view-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.view-list li {
    position: relative;
    font-size: 14px;
    border-bottom: 1px dotted #ccc;
    /*width: 100%;*/
    /*clear: both;*/
}


.tweet {
    cursor: pointer;
    text-align: -webkit-match-parent;
    padding: 5px;
    /*white-space: nowrap;*/
    font-size: 14px;
    /*display: block;*/
    word-wrap: break-word;
    /*display: inline;*/
}

.tweet p {
    word-wrap: break-word;
    /*margin: 0;*/
}

.tweetFooter {
    font-size:12px;
    padding-top:1px;
    clear: left;
}
div .tweetImage{
    float: left;
    width: 50px;
    margin-right: 10px;
    /*display:inline;*/
}
div .tweetContent{
    width: 100%;
    /*display:inline;*/
}



#tweet-count {
    float: left;
    text-align: left;
}

#filters {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    right: 0;
    left: 0;
}

#filters li {
    display: inline;
}

#filters li a {
    color: #23150f;
    margin: 2px;
    text-decoration: none;
}

#filters li a.selected {
    font-weight: bold;
}

#clear-completed {
    float: right;
    position: relative;
    line-height: 20px;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
    font-size: 11px;
    padding: 0 10px;
    border-radius: 3px;
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

#clear-completed:hover {
    background: rgba(0, 0, 0, 0.15);
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}

#info {
    margin: 65px auto 0;
    color: #a6a6a6;
    font-size: 12px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    text-align: center;
}

#info a {
    color: inherit;
}


.user {
    cursor: pointer;
    text-align: -webkit-match-parent;
    padding: 3px;
    /*white-space: nowrap;*/
    font-size: 14px;
}

.user-header {

}
.user-avatar {
    position: inline;
    float: left;
    width: 48px;
}
.user-text {
    position: inline;
    padding: 3px;
    margin-left: 60px;
    /*float: left;*/
}
.user-footer {
}

.conversation {
    font-size: 14px;
    display: block;
    clear: both;
}
.conversation-footer {
    clear: left;
}

.invisible {
    display: none;
}

.message-header {
    clear: both;
    float: right;
}
.message-text {
    /*clear: both;*/
    padding-top: 5px;
}
.message-text .own {
    float: right;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

#tweet-form textarea{
    width: 85%;
}
#tweet-form button{
    width: 12%;
}

#tweet-form form{
    /*border-bottom: 1px solid #ccc;*/
    padding: 10px 10px 0px 10px;
}