.namedNode {
  cursor: pointer;
  fill: steelblue;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.unnamedNode {
  cursor: pointer;
  fill: #ccc;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 11px;
}

path.link {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.generatorLabel {
  font-style: italic;
  font-size: 10px;
}